HTTP_PORT=8080
DOCKER_REGISTRY=docker.m.daocloud.io
PIP_INDEX_URL=https://mirrors.aliyun.com/pypi/simple/
APP_VERSION=1.0.0
MAX_UPLOAD_BYTES=20971520
MAX_IMAGE_PIXELS=20000000
MAX_IMAGE_SIDE=6000
MAX_PROCESSING_CONCURRENCY=2
REQUEST_TIMEOUT_SECONDS=45
WEB_CONCURRENCY=1
DATABASE_PATH=/data/hair-counter.db
SESSION_TTL_SECONDS=604800
SECURE_COOKIES=false
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-admin-password
